<main class="container mx-auto mt-20 px-5">
  <notification-container :notifications="notifications" @removeNotification="removeNotification($event)" />
  <div class="flex mb-2">
    <div class="flex-1">
      <h1 class="font-semibold">
        <span class="sm:text-5xl text-2xl">Software</span>
        <span class="sm:text-2xl">v4.1.2.3</span>
      </h1>
    </div>
    <div class="flex-1 text-right">
      <UndoBtn :btnDisabled="logArray.length? false : true" @undo="undoChange" />
    </div>
  </div>
  <status-bar :ticketData="ticketData" />
  <div id="tabs" class="mt-5">
    <div class="tabs">
      <a class="resolved float-left sm:mr-16 mr-3" @click="activetab = 1" :class="[activetab === 1 ? 'active' : '']">
        <span class="sm:text-6xl text-4xl text-green-600">{{ ticketData.resolvedLen }}</span>
        <span class="font-semibold">Resolved</span>
      </a>
      <a class="unresolved float-left sm:mr-16 mr-3" @click="activetab = 2" :class="[activetab === 2 ? 'active' : '']">
        <span class="sm:text-6xl text-4xl text-red-600">{{ ticketData.unresolvedLen }}</span>
        <span class="font-semibold">Unresolved</span>
      </a>
      <a class="backlog float-left" @click="activetab = 3" :class="[activetab === 3 ? 'active' : '']">
        <span class="sm:text-6xl text-4xl text-gray-400">{{ ticketData.backlogLen }}</span>
        <span class="font-semibold">Backlog</span>
      </a>
    </div>
    <div class="content mt-3">
      <div v-if="activetab === 1" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedResolved" :btnText="'Unresolve'" :listType="LIST_RESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 2" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedUnresolved" :btnText="'Resolve'" :listType="LIST_UNRESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 3" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedbacklog" :btnText="'Unresolve'" :listType="LIST_BACKLOG"
          @moveTickets="moveTickets($event)" />
      </div>
    </div>
  </div>
</main>
