<main class="container mx-auto mt-20 px-5">
  <div class="flex">
    <div class="flex-1"></div>
    <div class="flex-1 text-right">
      <button
        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        @click="undoChange">
        UNDO
      </button>
    </div>
  </div>
  <status-bar :resolvedPercent="resolvedPercent" :unresolvedPercent="unresolvedPercent"
    :backlogPercent="backlogPercent" />
  <div id="tabs" class="mt-5">
    <div class="tabs">
      <a class="resolved float-left mr-16" v-on:click="activetab = 1" v-bind:class="[activetab === 1 ? 'active' : '']">
        <span class="text-6xl text-green-600">{{ resolvedLen }}</span>
        <span class="font-bold">Resolved</span>
      </a>
      <a class="unresolved float-left mr-16" v-on:click="activetab = 2"
        v-bind:class="[activetab === 2 ? 'active' : '']">
        <span class="text-6xl text-red-600">{{ unresolvedLen }}</span>
        <span class="font-bold">Unresolved</span>
      </a>
      <a class="backlog float-left mr-16" v-on:click="activetab = 3" v-bind:class="[activetab === 3 ? 'active' : '']">
        <span class="text-6xl text-gray-400">{{ backlogLen }}</span>
        <span class="font-bold">Backlog</span>
      </a>
    </div>
    <div class="content mt-3">
      <div v-if="activetab === 1" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedResolved" :btnText="'Unresolve'" :listType="LIST_RESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 2" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedUnresolved" :btnText="'Resolve'" :listType="LIST_UNRESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 3" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedbacklog" :btnText="'Unresolve'" :listType="LIST_BACKLOG"
          @moveTickets="moveTickets($event)" />
      </div>
    </div>
  </div>
</main>
