<main class="container mx-auto mt-20 px-5">
  <div class="flex">
    <div class="flex-1"></div>
    <div class="flex-1 text-right">
      <button class="bg-red-500 hover:bg-red-600 font-semibold text-white py-2 px-4 border
        border-red-500 hover:border-transparent rounded disabled:opacity-50" @click="undoChange"
        :disabled="logArray.length==0">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" width="24"
          class="fill-current">
          <path d="M374.2,189.2H157.5L275.7,71.1H157.5L0,228.6l157.5,157.5h118.2L157.5,268h216.6c32.6,0,59.1,26.4,59.1,59.1
	c0,32.6-26.4,59.1-59.1,59.1v78.8c76.1,0,137.8-61.7,137.8-137.8C512,250.9,450.3,189.2,374.2,189.2z" />
        </svg>
      </button>
    </div>
  </div>
  <status-bar :ticketData="ticketData" />
  <div id="tabs" class="mt-5">
    <div class="tabs">
      <a class="resolved float-left mr-16" v-on:click="activetab = 1" v-bind:class="[activetab === 1 ? 'active' : '']">
        <span class="text-6xl text-green-600">{{ resolvedLen }}</span>
        <span class="font-bold">Resolved</span>
      </a>
      <a class="unresolved float-left mr-16" v-on:click="activetab = 2"
        v-bind:class="[activetab === 2 ? 'active' : '']">
        <span class="text-6xl text-red-600">{{ unresolvedLen }}</span>
        <span class="font-bold">Unresolved</span>
      </a>
      <a class="backlog float-left mr-16" v-on:click="activetab = 3" v-bind:class="[activetab === 3 ? 'active' : '']">
        <span class="text-6xl text-gray-400">{{ backlogLen }}</span>
        <span class="font-bold">Backlog</span>
      </a>
    </div>
    <div class="content mt-3">
      <div v-if="activetab === 1" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedResolved" :btnText="'Unresolve'" :listType="LIST_RESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 2" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedUnresolved" :btnText="'Resolve'" :listType="LIST_UNRESOLVED"
          @moveTickets="moveTickets($event)" />
      </div>
      <div v-if="activetab === 3" class="tabcontent inline-block min-w-full shadow rounded-lg overflow-hidden border">
        <list-table :listItems="sortedbacklog" :btnText="'Unresolve'" :listType="LIST_BACKLOG"
          @moveTickets="moveTickets($event)" />
      </div>
    </div>
  </div>
</main>
